<!-- reviews-index.handlebars -->

<h1>Reviews</h1>
<a href="/reviews/new">New Review</a>

{{#each reviews}}
  <a href="/reviews/{{this._id}}">
    <h5>{{this.title}}</h5>
    <small>{{this.movieTitle}}</small>
  </a>
  <a href="/reviews/{{this._id}}/edit">Edit</a>
  <hr>
{{/each}}
